<!DOCTYPE html>
<html>
<head>
	<title>Форма вводу</title>
	<meta charset="utf-8">
</head>
<body>
<center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<form name="test" method="post">
	<label for="name" ><font size="5"  face="Arial">Get map with friends or followers	</label>
	<br>
	<input type="text" name="name" id="name" placeholder="Input something" title="Підказка" maxlength="15" >
	<br>
	<br>
	<br>
	<label for="Friend">Friend</label> <input type="radio" name="state" id="Friend">
	<label for="Followers">Followers</label> <input type="radio" name="state" id="Followers">
	<br>
	<br>
	<br>
	<input type="submit" value="create" name="">

</form>
</center>
</body>
</html>
